
a:link{
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: aqua;
    display: inline-block;
    padding: 20px;
}
body{
    height: 100%;
}
a:hover{
    color: rgb(233, 233, 241);
    background-color: black;
    
}

h3{
    margin: 25px 100px 50px 0px;
    display: flex; 
}
#ak{
    margin: 50px 0px 0px 0px;
}